<div class="fullScreen">
    <div class="formLogin font-jose">
        <h4>What's your nickname ?</h4>
        <input id="account" type="text" class="form-control" id="exampleInputPassword1" maxlength="20" placeholder="{{currentShowText}}" [(ngModel)]="nameAccount">
        <button class="btn btn-primary" (click)="register()">Register</button>
        <div [innerHTML]="test"></div>
        {{test}}
        <!-- <img src="assets/1.gif" alt=""> -->
        <button (click)=demo()>test</button>
    </div>
</div>