<div class="right-content">
    <div class="list-online" *ngIf="listusers.length > 0">
        <div *ngFor='let user of listusers' class="client" (click)="TakeAMessage(user)">
            <div class="dot"></div>
            <div class="name">{{user}}</div>
        </div>
    </div>

    <div class="nothing-online" *ngIf="listusers.length === 0">
        <img class="img-face" src="assets/sad-face.ico" width="50%" height="50%" alt="">
        <br> There's no person !!
    </div>
</div>
<div class="box-area">
    <div class="message-box-area" *ngFor="let user of listBoxMessage">
        <h6 class="title-mess-box">
            <span class="dot"></span>
            <span>{{user.name}}</span>
            <span class="close-box" (click)="closeBox(user.name)">x</span>
        </h6>
        <div class="content-mess-box">

        </div>
        <div class="input">
            <input type="text" placeholder="Aa" (ngModel)="message">
            <span class="send-mess" (click)="sendMessage(user.name)">
                <img src="assets/send.png" width="9%" height="25%" alt="">
            </span>
        </div>
    </div>
</div>