<div class="right-content">
    <div class="list-online" *ngIf="listusers.length > 0">
        <div *ngFor='let user of listusers' class="client" (click)="TakeAMessage(user)">
            <div class="dot"></div>
            <div class="name">{{user.username}}</div>
        </div>
    </div>

    <div class="nothing-online" *ngIf="listusers.length === 0">
        <img class="img-face" src="assets/sad-face.ico" width="50%" height="50%" alt="">
        <br> There's no person !!
    </div>
</div>
<div class="box-area">
    <div class="message-box-area" *ngFor="let user of listBoxMessage">
        <h6 class="title-mess-box">
            <span class="dot"></span>
            <span>{{user.username}}</span>
            <span class="close-box" (click)="closeBox(user.username)">x</span>
        </h6>
        <div id="content-mess" class="content-mess-box" #contentmess [scrollTop]="contentmess.scrollHeight">
            <div *ngFor="let message of messages | filtermessage : user.username">
                <div *ngIf="message.from === this.account" class="mess" style="background-color: paleturquoise; margin-left: auto;margin-right: 15px">
                    <p>
                        <span>{{message.message}}</span>
                    </p>
                </div>
                <div *ngIf="message.from !== this.account" class="mess">
                    <p>
                        <span>{{message.message}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="input">
            <input type="text" (keyup.enter)="sendMessage(user)" [(ngModel)]="user.message">
            <span class="send-mess" (click)="sendMessage(user)">
                <img src="assets/send.png" width="9%" height="25%" alt="">
            </span>
        </div>
    </div>
</div>