/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr.css";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");


.font-jose{
    font-family: 'Josefin Sans', sans-serif;
}

.show {
    visibility: visible;
}

.hidden{
    visibility: hidden;
}