.home {
    width: 80%;
    margin: 0 auto;
}

.header{
    width: 100%;
    text-align: right;
    padding: 15px 0 15px 0;
    /* padding-bottom: 40px; */
}

.infor{
    padding-right: 20px;
}

.left{
    /* background-color: #f5f5ef; */
    float: left;
    width: 30%;
    text-align: center;
    padding: 0 2%;
}
.right{
    /* background-color: antiquewhite; */
    float:right;
    width: 70%;
    /* text-align: center; */
}

.client{
    width: 100%;
    height: 30px;
    /* margin-left:50%; */
    text-align: center;
}

/* .tool-message{
    width: 60%;
    margin: 0 auto;
} */

/* .text-mess{
    float:left;
    width: 79%;
} */

.btn-send{
    float:right;
    width: 20%;
}


.logout:hover{
    cursor: pointer;
    color: grey;
}

.online{
    margin: 0 auto;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    /* padding: 10px; */
    margin: 12% 0 0 0;
    padding: 3% 0 0 25%;
}

.dot {
    height: 15px;   
    width: 15px;
    background-color: green;
    border-radius: 50%;
    float:left;
    /* display:  */
    /* display: inline-block; */
}

.name{
    padding-left: 10px;
    float:left;
}

.input {
    border: 2px solid #dedede;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

#content-mess{
    max-height: 40vh;
    overflow: auto;
    /* overflow: hidden; */
}

.img-face{
    animation: rotation 2s normal linear;
}

.mess p {
    padding:0;
}

@keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(360deg);}
}

@keyframes rotation-focus {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(360deg);}
}

.mess {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.text-mess {
    outline: none;
    background-color: transparent;
    border: none;
    width: 83%; 
    margin: 0 2%;
}
.emoji{
    padding: 5px;
}

.row-popup{
    /* z-index: 999; */
    position: absolute;
    width: 100%;
    left: 5rem;
    margin-top: 1.5%;
    /* right: 10rem; */
    /* text-f: right; */
}

/* 
.text-mess:focus{
    display: none;
} */

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.mess p {
    margin: 0;
}
.content-mess::after {
    content: "";
    clear: both;
    display: table;
}


.emoji-popup{
    margin-top:-10px;

    float: right;
    /* padding:3em 2em; */
    background-color: rgb(234, 239, 247);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /* z-index: 999; */
    
}
/* .emoji-popup:before{
	content: '';
	width: 0;
	height: 0;
    border: 20px solid rgb(234, 239, 235);;
    
	border-top: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 13px solid rgba(0, 0, 0, 0)!important;
	border-left: 13px solid rgba(0, 0, 0, 0);
	left: 80%;
	top: -12.5%;
    position: absolute;
    
} */

.list-icon{
    width: 252px;
    padding: 0 0 10px 0px;
}

.list-icon>img{
    padding:5px;
}

.list-icon>img:hover{
    background-color:rgb(107, 171, 255);
    z-index: 999;
}

/* .time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
} */