<!-- homepage -->
<div class="home">
    <div class="contain font-jose">
        <!-- navbar -->
        <div class="header">
            <span class="infor">
                Hello {{account.nameAccount}}
            </span>
            <span class="logout" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i> Logout
            </span>
        </div>

        <!-- content -->
        <div class="content">

            <div class="left-content">
                <div class="list-menu">
                    <!-- <div class="menu" [routerLink]="menu.route" routerLinkActive="active" *ngFor="let menu of listmenu">
                        {{menu.name}}
                    </div> -->
                    <div class="menu" routerLink="/home">
                        Home
                    </div>
                    <div class="menu">
                        Music
                    </div>
                    <div class="menu">
                        News
                    </div>
                </div>
            </div>
            <!-- <app-chat></app-chat> -->
            <router-outlet></router-outlet>
        </div>

        <!-- footer -->
        <div class="footer">

        </div>

    </div>

</div>

<!-- <div class="home font-jose">
    <div class="header">
        <span class="infor">
            Hello {{account.nameAccount}}
        </span>
        <span class="logout" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
        </span>
    </div>

    <div class="listuser left" *ngIf="listusers.length > 0">
        <div class="online">
            <div *ngFor='let user of listusers' class="client">
                <div class="dot"></div>
                <div class="name">{{user}}</div>
            </div>
        </div>
    </div>
    <div class="listuser left" *ngIf="listusers.length == 0">
        <img class="img-face" src="assets/sad-face.ico" width="50%" height="50%" alt="">
        <br> không có ai hết !!
    </div>
    <div class="boxmessage right">
        <h5 style="text-align: center">Write Something</h5>
        <div id="content-mess" #contentmess [scrollTop]="contentmess.scrollHeight">
            <div class="mess" *ngFor='let content of messages'>
                <p>
                    <b>{{content.username}}</b> :
                    <span [innerHTML]='content.message'></span>
                </p>
            </div>
        </div>
        <div class="input">
            <span class="icon-image">
                <img src="assets/image.png" width="4%" height="4%" alt="">
            </span>
            <input id="inputmess" class="text-mess" type="text" [(ngModel)]="message" (focus)="focusInputMess()" (keyup.enter)="sendMessage()">
            <span class="emoji">
                <img id="popupsetup" src="{{popupImgSrc}}" (click)="popupSetUp()" width="3%" height="3%" alt="">
            </span>
            <span id="btn-send-mess" class="icon-send" (click)="sendMessage()">
                <img src="assets/send.png" width="4%" height="4%" alt="">
            </span>
            <div id="row-popup" class="row-popup hidden">

                <div id="closepopup" class="emoji-popup">
                    <div class="list-icon">
                        <img *ngFor="let emoji of emojis | sort" src="assets/{{emoji}}.gif" (click)="chooseEmoji(emoji)">
                    </div>

                </div>
            </div>
        </div>

    </div>
</div> -->

<!-- <img src="assets/1.gif">
                        <img src="assets/2.gif">
                        <img src="assets/3.gif">
                        <img src="assets/4.gif">
                        <img src="assets/5.gif">
                        <img src="assets/10.gif">
                        <img src="assets/11.gif">
                        <img src="assets/12.gif">
                        <img src="assets/13.gif">
                        <img src="assets/15.gif">
                        <img src="assets/16.gif">
                        <img src="assets/17.gif">
                        <img src="assets/19.gif">
                        <img src="assets/21.gif">
                        <img src="assets/22.gif">
                        <img src="assets/23.gif">
                        <img src="assets/27.gif">
                        <img src="assets/29.gif">
                        <img src="assets/32.gif">
                        <img src="assets/33.gif">
                        <img src="assets/38.gif">
                        <img src="assets/39.gif">
                        <img src="assets/48.gif">
                        <img src="assets/49.gif">
                        <img src="assets/50.gif">
                        <img src="assets/52.gif">
                        <img src="assets/53.gif">
                        <img src="assets/54.gif">
                        <img src="assets/56.gif">
                        <img src="assets/57.gif">
                        <img src="assets/59.gif">
                        <img src="assets/61.gif">
                        <img src="assets/62.gif">
                        <img src="assets/71.gif">
                        <img src="assets/72.gif">
                        <img src="assets/73.gif">
                        <img src="assets/74.gif">
                        <img src="assets/75.gif">
                        <img src="assets/79.gif"> -->